NEXT_PUBLIC_GRAPHQL_ENDPOINT=http://localhost:3001/graphql
NEXT_PUBLIC_GRAPHQL_WS_ENDPOINT=ws://localhost:3001/graphql

# PulseBoard Logging
NEXT_PUBLIC_PULSEBOARD_INGEST_URL=https://pulseboard-api.onrender.com/ingest/logs
NEXT_PUBLIC_PULSEBOARD_API_KEY=your_pulseboard_api_key_here
